.panel-primary > .panel-heading {
    background-color: black !important;
    border-color: black !important;
}

.panel-primary {
    border-color: black !important;
}

.error{
    color: red;
    font-size: x-small;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}